$color-white: #ffffff;
$color-black: #000000;
$color-blue-text: #279fe0;
$color-gray: #808080;
$color-gray-bg: #515151;
$colo-gray-border: #aaaaaa;
$color-black-bg-spinner: #6a67672e;
$color-orange: #f78f1f;
$primary-color: #f6f7fc;
$color-header: #e9e9e9;
$primary-blue: #42a5f5;
$box-shadow-primary-grey: #808080;
